// Overrides Bootstrap Variables
// $font-family-sans-serif:"DM Sans",
// sans-serif;
$font-base: "DM Sans", sans-serif;

$font-inter: "Inter",
sans-serif;

$font-sans:$font-base;

$font-serif: "Playfair Display",
serif;

$primary       :#effbf8;
$primary-dark  :#130f49;
$primary-yellow:#ff972d;
$sidebar-width :350px;