// Overrides Bootstrap Variables
// $font-family-sans-serif:"DM Sans",
// sans-serif;
$font-base: "DM Sans",
sans-serif;

$font-inter: "Inter var",
sans-serif;

$font-sans:$font-inter;

$font-serif: "Playfair Display",
serif;

$primary       :#effbf8;
$primary-dark  :#130f49;
$primary-yellow:#ff972d;

