body {
    font-family: $font-inter;
    color      : $primary-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-base;
}

.bg-theme {
    background-color: $primary;
}

.padding-custom {
    padding-block : 8rem 5rem;
    padding-inline: 3rem;
}

.text-yellow {
    color: $primary-yellow;
}

button {
    outline: none;
    padding: .8rem 1.5rem;
    display: inline-block;

    border-radius: 0.3rem;
    color        : $white;
    transition   : $btn-transition;
    border-radius: 0;
}

.btn-minwidth {
    min-width: 170px;
}

.btn-idea {
    background-color: $primary-dark;

    &:hover {
        background-color: transparent;
        color           : $primary-dark;
    }
}

.btn-contact {
    background-color: transparent;
    color           : $primary-dark;

    &:hover {
        background-color: rgba($primary-dark, 10%);
    }
}