.about-section {
    padding-block: 5rem;

    .title {
        @include rfs(3rem, font-size);
        font-weight: 700;
    }

    .role {
        @include rfs(1.2rem, font-size);
        font-weight: 500;
    }

    ul {
        li {
            padding-left: 0;

            strong {
                line-height: 2;
            }
        }
    }

    .card {
        text-align      : center;
        border          : none;
        background-color: rgba($primary-dark, 0.02);
        transition      : .3s all ease-in-out;
        cursor          : pointer;
        box-shadow   : $box-shadow-sm;
        border-radius   : 0;

        .card-body {
            padding-block: 3rem;

            h3 {
                @include rfs(3rem);
                font-weight: 800;
            }

            p {
                margin-bottom : 0;
                text-transform: uppercase;
                font-weight   : 500;
            }
        }

        &:hover {
            transform       : translateY(-5px);
            background-color: $white;
        }
    }

}