.experience-section {
    padding-block   : 5rem;
    background-color: rgba($primary-dark, 0.02);

    .title {
        @include rfs(2.4rem, font-size);
        font-weight: 700;
    }

    .card {
        box-shadow   : $box-shadow-sm;
        border       : none;
        transition   : .3s all;
        border-radius: 0;

        .card-body {
            padding: 3rem;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}