.layout-wrapper {
    &__content {
        padding-left: 380px;

        .text-highlighted {
            color: #a5a6ff;
        }


        .intro-title {

            .h3 {
                @include rfs(3.2rem);
            }

            .h2 {
                @include rfs(3.8rem);
            }
        }

        ul {
            position: relative;

            li {
                padding-left: 1rem;

                a {
                    text-decoration: none;
                    color          : $primary-dark;
                    line-height    : 2;
                    font-weight    : 500;

                    &:hover {
                        color: $primary-yellow;
                    }
                }
            }

            &.info-lists {

                &::before {
                    position        : absolute;
                    left            : 0;
                    height          : 100%;
                    width           : 4px;
                    background-color: $primary-yellow;
                    content         : " ";
                }
            }

        }
    }
}